# Laravel specific
/vendor/
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.backup
.env.production
.phpunit.result.cache

# Docker specific


# IDE specific
/.idea
/.vscode
/.fleet

# Node/Frontend (if needed in future)
/node_modules
/public/build
/public/hot
/public/storage

# Testing
/.phpunit.cache

# Logs
*.log
npm-debug.log
yarn-error.log

# OS specific
.DS_Store
Thumbs.db
